@import "../../../styles/abstracts/variables/variables";
@import "../../../styles/abstracts/mixins/mixins";

.selectinput {
    border-radius: 3px;
    padding: 0.5rem 0.5rem;
    border: 1px solid $color-shades-300;
    width: 100%;
  
    &::placeholder {
        color: $color-shades-400
    }
}
