@import "../../../styles/abstracts/variables/variables";
@import "../../../styles/abstracts/mixins/mixins";

.booking {
  position: relative;

  &__amenities {
    padding: 0 1rem;
    margin-top: -2rem;
    position: relative;
    z-index: 2;
  }

  &__text {
    @include truncate($text-paragraphs, $text-line-height-sm, 2);
  }
}
