.input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  width: 100%;

  &::placeholder {
	  color: $color-shades-400
  }
}

select {
  border: 1px solid $color-shades-400;
}

textarea {
  width: 100%;
  min-height: 135px;
  resize: none;
}

.form {
  padding: 1.5rem 1.5rem 2rem;

  &--columns {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &--bordered {
    @include add-borders;
  }
  
  .input,
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  textarea {
    border: 1px solid $color-shades-300;
  }
}
